body
{
    background-image: url('../images/background.png');
}
.signupform 
{
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
    border-radius: 30px 30px 30px 30px;
    font-family: Arial bold, sans-serif;
    font-weight: bold;
    font-size: 10pt;
    line-height: 10pt;
    color: rgb(0, 0, 0);
    font-style: bold;
    background-color: rgb(194, 220, 255);
    margin-bottom: 30px;
}


input[type = submit] {
    width: 56%;
    background-color: rgb(76, 130, 175);
    color: white;
    padding: 5px 5px 5px 5px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=field], select {
    width: 56%;
    padding: 5px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
   input[type=number]{
    width: 56%;
    padding: 5px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.topnav {
    overflow: hidden;
    background-color: #333;
}

/*The default appearance of the tabs in the navigation bar*/
.topnav #ReservationLink, #HomeLink {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 23px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

/*Changes the appearance of the tab when you hover over it*/
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/*Alters the appearance of the tab that is currently active*/
.topnav a.activeTab {
    background-color: lightgreen;
    color: white;
}

/*Alters the physical properties of the image(logo)*/
.topnav #Logo {
    float: left;
    
    padding-top: 6px;
    padding-left: 31px;
    padding-right: 6px;
}

.topnav #AccountLogo {
    padding-top: 6px;
    padding-left: 31px;
    padding-right: 30px;
    width: 50px;
}

.topnav .dropdown {
    float: right;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

