
/* CSS for myAccount.html page */

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: rgb(76, 130, 175);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

body {
  background-image: url('../images/background.png');
}


.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

th, td {
  padding-bottom: 5px;
  padding-top: 5px;
  padding: 8px;
  text-align: left;

}

th {
  background-color: rgb(194, 220, 255);
  color: black;
  padding-top: 15px;
  padding-bottom: 15px;
}

td {
  padding-bottom: 0px;
  padding-top: 0px;
  
}

table {
  width: 600px;
}

#priv{
  border-radius: 25px;
  border: 2px solid rgb(219, 219, 219);
  background-color: rgb(255, 255, 255);
  height: 540px; 
  margin: auto;
  width: 600px;
  padding: 10px;
  margin-top: 10px;
}

#pref{
  border-radius: 25px;
  border: 2px solid rgb(219, 219, 219);
  background-color: rgb(255, 255, 255);
  height: 240px; 
  width: 600px;
  padding: 10px;
  margin: auto;

}

.topnav {
  overflow: hidden;
  background-color: #333;
}

/*The default appearance of the tabs in the navigation bar*/
.topnav #ReservationLink, #HomeLink {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 23px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

/*Changes the appearance of the tab when you hover over it*/
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/*Alters the appearance of the tab that is currently active*/
.topnav a.activeTab {
  background-color: lightgreen;
  color: white;
}

/*Alters the physical properties of the image(logo)*/
.topnav #Logo {
  float: left;
  
  padding-top: 6px;
  padding-left: 31px;
  padding-right: 6px;
}

.topnav #AccountLogo {
  padding-top: 6px;
  padding-left: 31px;
  padding-right: 30px;
  width: 50px;
}

.topnav .dropdown {
  float: right;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
